{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>anti-fraud system for voting</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!--<img src="{% static 'img/favicon.png" rel="icon' %}" >-->
  <link href=" {% static 'img/favicon.png" rel="icon' %}" >
  <link href=" {% static 'img/apple-touch-icon.png" rel="apple-touch-icon' %}" >

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->

  <link  rel="stylesheet"  href=" {% static 'vendor/aos/aos.css' rel='stylesheet' %}" >
  <link  rel="stylesheet"  href=" {% static 'vendor/bootstrap/css/bootstrap.min.css' %}" >
  <link  rel="stylesheet"  href=" {% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" >
  <link  rel="stylesheet"  href=" {% static 'vendor/glightbox/css/glightbox.min.css' %}">
  <link  rel="stylesheet"  href=" {% static 'vendor/remixicon/remixicon.css' %}">
  <link  rel="stylesheet"  href=" {% static 'vendor/swiper/swiper-bundle.min.css' %}">

  <!-- Template Main CSS File -->
  <link rel="stylesheet"  href=" {% static 'css/style.css' %}">
</head> 

<body>

  
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        
        <img src="{% static 'img/logo.png' %}" alt="Logo" style="height: 200px;">
        <span>Anti-fraud system for voting</span>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          
          <li><a class="getstarted scrollto"  href="{% url 'select_image' %}">Get Started <i class="bi bi-arrow-right"></i></a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i> 
      </nav><!-- .navbar -->

    </div> 
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <br><br><br>
          <h1 data-aos="fade-up">Secure voting system based on facial recognition.</h1>
          <br><br>
          <h2 data-aos="fade-up" data-aos-delay="400">This plateform proposes an anti-fraud system for voting.</h2>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <a href="{% url 'voters' %}" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Voters</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="{% static 'img/imagevote.png' %}" alt="cover">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">
    
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Data Science Students of UY1</span></strong>. All Rights Reserved
      </div>
      
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>